
body {
    background-color: #ddf1e7d8;
}

h1 {

    background-color: #5DD041;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 180%;
    font-weight:bold;
    text-align: center;
}
h2 {
    font-weight: bold;
    color: #24411bd8;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #24411bd8;
    text-align: center;
    font-style: italic

}
h4 {
    color: #24411bd8;
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h6{
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #202063;
    font-size: 100%;
    text-align: center;
    text-indent: 15px;

}  

li {
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
}
img{
    align:center;
}
ul{list-style: none;}

